// Example sass file you might have in your project
// Just import _container-queries.scss to your project and use it as follows

@import "../../container-queries";

@include containerMinWidth(0, 5, 7, 6) {
  background-color: rgb(45 212 191);
  &::after {
    content: " My width is ≥576px";
  }
}

@include containerMinWidth(0, 7, 6, 8) {
  background-color: rgb(129 140 248);
  &::after {
    content: " My width is ≥768px";
  }
}
@include containerMinWidth(0, 9, 9, 2) {
  background-color: rgb(232 121 249);
  &::after {
    content: " My width is ≥992px";
  }
}
